@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #fafbff; */
  --background: #f5f5f5;
  --foreground: #171717;
}

html {
  font-family: "Nunito" !important;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-weight: 500;
  /* font-family: "Nunito"; */
}

.text-shadow-lg {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* width */
scrollbar_::-webkit-scrollbar {
    width: 5px;
}

/* Track */
scrollbar_::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
scrollbar_::-webkit-scrollbar-thumb {
    background: #C1DADF;
    border-radius: 5px;
}

/* Handle on hover */
scrollbar_::-webkit-scrollbar-thumb:hover {
    background: #555;
}