@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #fafbff; */
  --background: #e5e5e5;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}